footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #6c757d;
  a {
    color: #6c757d;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
