// Define variables for reusable values
$primary-color: #007bff;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

// Define keyframe animation for fadeIn
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .form {
    width: 100%;
    display: flex;
    flex-direction: column; // Adjusted to column layout
    align-items: center;
    max-width: 400px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: $box-shadow;
    gap: 5px;
    animation: fadeIn 0.5s ease; // Added fadeIn animation

    .input {
      width: 100%;
      margin-bottom: 16px;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      transition: border-color 0.3s ease; // Added transition effect

      &:focus {
        border-color: $primary-color; // Change border color on focus
      }
    }

    .submit {
      padding: 8px;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: $primary-color;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease; // Added transition effects

      &:hover {
        background-color: darken(
          $primary-color,
          10%
        ); // Darken the color on hover
        transform: translateY(-2px); // Move button slightly up on hover
      }
    }
  }
}
